<GridLayout class="page page-content"rows="80 *">
  <!-- THE ACTION/PAGE-TITLE BAR -->
  <FlexboxLayout row="0" flexDirection="row" alignItems="center" justifyContent="space-between" class="action-bar-custom">
    <StackLayout>
      <Label class="title" text="Social Circle"></Label>
    </StackLayout>
  </FlexboxLayout>
  <!-- THE ACTION/PAGE-TITLE BAR -->

  <StackLayout row="1">
    <Label class="page-placeholder" text="<!-- This is the SOCIAL page -->"></Label>
  </StackLayout>
</GridLayout>