<TabView #mainTab androidTabsPosition="bottom">
  <page-router-outlet *tabItem="{title: 'Home', iconSource: getIconSource('home')}" name="homeTab" actionBarVisibility="never">
  </page-router-outlet>

  <page-router-outlet *tabItem="{title: 'Social', iconSource: getIconSource('social')}" name="socialTab" actionBarVisibility="never">
  </page-router-outlet>
  
  <page-router-outlet *tabItem="{title: 'New', iconSource: getIconSource('newactivity')}" name="newActivityTab" actionBarVisibility="never">
  </page-router-outlet>

  <page-router-outlet *tabItem="{title: 'Goals', iconSource: getIconSource('goals')}" name="goalsTab" actionBarVisibility="never">
  </page-router-outlet>

  <page-router-outlet *tabItem="{title: 'Profile', iconSource: getIconSource('profile')}" name="profileTab" actionBarVisibility="never">
  </page-router-outlet>

</TabView>