<GridLayout class="page page-content"rows="80 *">
  <!-- THE ACTION/PAGE-TITLE BAR -->
  <FlexboxLayout row="0" flexDirection="row" alignItems="center" justifyContent="space-between" class="action-bar-custom">
    <Label class="title" text="Goals"></Label>
    <Image src="~/assets/images/icons/plus-black.png" class="logout-btn" (tap)="addNewGoal()"></Image>
  </FlexboxLayout>
  <!-- THE ACTION/PAGE-TITLE BAR -->

  <GridLayout [rows]="contentGridRows" row="1">
    <!-- Active Goals -->
    <GridLayout rows="50 *" class="Activity--Wrapper" row="0" *ngIf="userActiveGoals.length > 0">
      <StackLayout class="Day--Title" row="0">
        <Label class="Day-h1" text="Ongoing Goals"></Label>
        <Button width="30" height="5" class="hr"></Button>
      </StackLayout>

      <ListView [items]="userActiveGoals" class="GoalList" row="1">
        <ng-template let-goal="item" let-i="index" let-odd="odd" let-even="even">
          <FlexboxLayout class="Goal--Card" flexDirection="column" alignItems="center" justifyContent="space-between"
            [backgroundColor]="odd ? '#6A9BEB' : '#A997DF'" (tap)="openModal(goal, odd)">
            <StackLayout class="Goal--Info">
              <Label class="roboto-bold Title" [text]="goal.name"></Label>
              <Label class="roboto-regular Target--Date" [text]="'Target date: ' + goal.dueDate"></Label>
            </StackLayout>
            <StackLayout class="Goal--Progress">
              <Label class="roboto-bold Percentage" [text]="daysLeft(goal.dueDate)"></Label>
              <Progress (loaded)="onProgressBarLoaded($event, goal.dueDate, goal.addedOn)" class="ProgressBar">
              </Progress>
            </StackLayout>
          </FlexboxLayout>
        </ng-template>
      </ListView>
    </GridLayout>
    <!-- Active Goals -->

    <!-- Completed Goals -->
    <GridLayout rows="50 *" class="Activity--Wrapper" row="1" *ngIf="userCompletedGoals.length > 0">
      <StackLayout class="Day--Title" row="0" >
        <Label class="Day-h1" text="Completed Goals"></Label>
        <Button width="30" height="5" class="hr"></Button>
      </StackLayout>

      <ListView [items]="userCompletedGoals" class="GoalList" row="1">
        <ng-template let-goal="item" let-i="index" let-odd="odd" let-even="even">
          <FlexboxLayout class="Goal--Card" flexDirection="column" alignItems="center" justifyContent="space-between"
            backgroundColor="#40DC8B">
            <StackLayout class="Goal--Info">
              <Label class="roboto-bold Title" [text]="goal.name"></Label>
              <Label class="roboto-regular Target--Date" [text]="'Target date: ' + goal.dueDate"></Label>
            </StackLayout>
            <StackLayout class="Goal--Progress">
              <Progress (loaded)="completedProgressBar($event)" class="ProgressBar">
              </Progress>
            </StackLayout>
          </FlexboxLayout>
        </ng-template>
      </ListView>
    </GridLayout>
    <!-- Completed Goals -->

    <!-- Failed Goals -->
    <GridLayout rows="50 *" class="Activity--Wrapper" row="2" *ngIf="userFailedGoals.length > 0">
      <StackLayout class="Day--Title" row="0">
        <Label class="Day-h1" text="Failed Goals"></Label>
        <Button width="30" height="5" class="hr"></Button>
      </StackLayout>
  
      <ListView [items]="userFailedGoals" class="GoalList" row="1">
        <ng-template let-goal="item" let-i="index" let-odd="odd" let-even="even">
          <FlexboxLayout class="Goal--Card" flexDirection="column" alignItems="center" justifyContent="space-between"
            backgroundColor="#FE5857">
            <StackLayout class="Goal--Info">
              <Label class="roboto-bold Title" [text]="goal.name"></Label>
              <Label class="roboto-regular Target--Date" [text]="'Target date was: ' + goal.dueDate"></Label>
            </StackLayout>
            <StackLayout class="Goal--Progress">
              <Progress (loaded)="completedProgressBar($event)" class="ProgressBar">
              </Progress>
            </StackLayout>
          </FlexboxLayout>
        </ng-template>
      </ListView>
    </GridLayout>
    <!-- Completed Goals -->
  </GridLayout>
</GridLayout>