// Custom common variables
@import '../app-variables';
@import '../assets/css/animate.scss';

.action-bar-custom {
  padding-left: 15;
  padding-right: 15;

  .title {
    font-size: 28pt;
    font-weight: 600;
  }

  Image {
    width: 22pt;
  }
}
