<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1068585837522-7c3tdi2tb0ic0i17ncs6ql2rbctnujdr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1068585837522-7c3tdi2tb0ic0i17ncs6ql2rbctnujdr</string>
	<key>API_KEY</key>
	<string>AIzaSyCZGn152Y9Et9WNo-BLF3xCCqA2244cW4o</string>
	<key>GCM_SENDER_ID</key>
	<string>1068585837522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dafmarku.Yupaa</string>
	<key>PROJECT_ID</key>
	<string>yupaa-f7dca</string>
	<key>STORAGE_BUCKET</key>
	<string>yupaa-f7dca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1068585837522:ios:ccb2b2f734a27ace</string>
	<key>DATABASE_URL</key>
	<string>https://yupaa-f7dca.firebaseio.com</string>
</dict>
</plist>