@import '../../app.component';

.page-content {
  background-color: $behance-white;
  padding: 10;
}

.Activity--Title {
  .Title {
    font-weight: 600;
    color: #000000;
  }
}
.Activity--Content {
  margin: 10;

  .Subsection {
    border-width: 0 0 0.7 0;
    border-color: rgba($color: #828A71, $alpha: 0.3);

    .Question--Label {
      font-size: 15;
      color: #000000;
    }

    .Description--Wrapper {
      margin-top: 10;
      Label {
        margin-left: 10;
        font-size: 13;
        color: $icon-grey;
      }
    }
  }

  .Config {
    .Config--Times {
      .Time--Item {
        margin-top: 40;
        .time {
          font-size: 16;
          color: #000000;
          font-weight: 500;
        }

        .caption {
          font-size: 14;
          color: $behance-text;
          font-weight: 300;
        }
      }

      .timepicker {
        visibility: collapse;
      }
    }

    .summary-btn-wrapper {
      width: 100%;
      text-align: center;

      .kickoff-btn {
        width: 90%;
        height: 50;
        background-color: $behance-blue;
        color: white;
        border-radius: 10;
        opacity: 0;
        font-size: 18;
        font-weight: 500;
        animation-name: bounceIn;
        animation-duration: 0.5s;
        animation-delay: 1s;
        animation-fill-mode: forwards;
      }
    }
  }
}