<GridLayout class="page page-content" rows="30 *">
  <FlexboxLayout class="Activity--Title" row="0" flexDirection="row" alignItems="flex-start"
    justifyContent="space-between">
    <StackLayout></StackLayout>
    <Label class="Title" text="Setup Yupaa Hidrate"></Label>
    <Image class="Close--Btn" src="~/assets/images/icons/close-btn-fill.png" width="20" (tap)="goBack()"></Image>
  </FlexboxLayout>

  <GridLayout class="Activity--Content" rows="100 *" row="1">
    <StackLayout class="Subsection" row="0">
      <Label class="Question--Label" text="Lets keep you hidrated all day!" textWrap="true"></Label>
      <FlexboxLayout class="Description--Wrapper" flexDirection="row" alignItems="flex-start">
        <Image src="~/assets/images/icons/warning-fill.png" width="20"></Image>
        <Label class="Section--Info" text="Yuppa hidrate helps you create a routine of drinking water by sending you notification during different times of the day until you reach the desired amount of water during a day." textWrap="true"></Label>
      </FlexboxLayout>
    </StackLayout>
  
    <FlexboxLayout class="Config" row="1" flexDirection="column" alignItems="flex-start" justifyContent="space-between">
      <StackLayout class="Config--Times">
        <StackLayout class="Time--Item">
          <Label class="time" [text]="wakupTime" (tap)="onPickTimeTap($event, 'wakupTime', 7, 0)"></Label>
          <Label class="caption" text="Pick wakup time"></Label>
        </StackLayout>
        <StackLayout class="Time--Item">
          <Label class="time" [text]="lunchTime" (tap)="onPickTimeTap($event, 'lunchTime', 11, 0)"></Label>
          <Label class="caption" text="Pick lunch time"></Label>
        </StackLayout>
        <StackLayout class="Time--Item">
          <Label class="time" [text]="dinnerTime" (tap)="onPickTimeTap($event, 'dinnerTime', 18, 0)"></Label>
          <Label class="caption" text="Pick dinner time"></Label>
        </StackLayout>
        <StackLayout class="Time--Item">
          <Label class="time" [text]="sleepTime" (tap)="onPickTimeTap($event, 'sleepTime', 23, 0)"></Label>
          <Label class="caption" text="Pick sleep time"></Label>
        </StackLayout>
        <TimePickerField class="timepicker" pickerOkText="Pick Time" timeFormat="HH:mm"></TimePickerField>
      </StackLayout>
      <StackLayout class="summary-btn-wrapper">
        <Button class="kickoff-btn" text="Let's do this!" textTransform="none" (tap)="registerActivity()"
          [isEnabled]="!isSubmitting"></Button>
      </StackLayout>
    </FlexboxLayout>
  </GridLayout>
</GridLayout>
