<GridLayout class="page page-content" rows="80 *">
  <!-- THE ACTION/PAGE-TITLE BAR -->
  <FlexboxLayout *ngIf="!isLoading" row="0" flexDirection="row" alignItems="center" justifyContent="space-between" class="action-bar-custom">
    <Label class="title" text="Profile"></Label>
  </FlexboxLayout>
  <!-- THE ACTION/PAGE-TITLE BAR -->

  <GridLayout row="1" class="Page-Content" columns="*" rows="* 2* 2* *" *ngIf="!isLoading">
    <FlexboxLayout row="0" class="Profile-Header" flexDirection="row" alignItems="center" justifyContent="space-between">
      <FlexboxLayout class="Avatar--Border" alignItems="center" justifyContent="center">
        <Image row="0" col="0" [src]="userImageUrl" stretch="aspectFill" class="Avatar"></Image>
      </FlexboxLayout>
      <FlexboxLayout class="User-Stats" flexDirection="column" alignItems="flex-end" justifyContent="center">
        <Label text="Followers" class="roboto-thin Title"></Label>
        <Label text="24" class="roboto-regular Number"></Label>
      </FlexboxLayout>
    </FlexboxLayout>

    <GridLayout class="User-Activities" row="1" rows="30 *">
      <StackLayout class="Activities-Title" row="0">
        <Label class="roboto-regular" text="Activities"></Label>
      </StackLayout>
      <ScrollView orientation="horizontal" row="1">
        <StackLayout orientation="horizontal" class="Activity-Items-Wrapper">
          <FlexboxLayout *ngFor="let activity of userActivities" class="Activity-Item" flexDirection="column" alignItems="center"
            justifyContent="center">
            <StackLayout class="Activity-Icon-Wrapper" [backgroundColor]="stylingData(activity.key).pageBackground || '#A6A6A6'">
              <Image class="Icon" [src]="stylingData(activity.key).icon"></Image>
            </StackLayout>
            <Label class="roboto-thin Activity-Name" [text]="activity.name"></Label>
          </FlexboxLayout>
        </StackLayout>
      </ScrollView>
    </GridLayout>

    <StackLayout class="User-Attributes" row="2">
      <StackLayout>
        <Label class="roboto-thin User-Parameter-Val" [text]="googleUser.displayName"></Label>
        <StackLayout class="hr" ></StackLayout>
        <Label class="roboto-regular Input-Caption" text="Nickname"></Label>
      </StackLayout>
      <StackLayout>
        <Label class="roboto-thin User-Parameter-Val" [text]="googleUser.email"></Label>
        <StackLayout class="hr"></StackLayout>
        <Label class="roboto-regular Input-Caption" text="Email"></Label>
      </StackLayout>
    </StackLayout>
    <StackLayout class="logout-btn-wrapper" row="3">
      <Button class="logout-btn" text="Log Out" textTransform="none" (tap)="logOut()"></Button>
    </StackLayout>
  </GridLayout>
</GridLayout>