<GridLayout class="page page-content" rows="80 *">
  <!-- THE ACTION/PAGE-TITLE BAR -->
  <FlexboxLayout row="0" flexDirection="row" alignItems="center" justifyContent="space-between" class="action-bar-custom">
    <StackLayout>
      <Label class="title" text="New Activity"></Label>
    </StackLayout>
  </FlexboxLayout>
  <!-- THE ACTION/PAGE-TITLE BAR -->

  <ScrollView orientation="vertical" row="1">
    <FlexboxLayout flexWrap="wrap" justifyContent="space-around">
      <FlexboxLayout *ngFor="let activity of activitiesToChooseFrom" [backgroundImage]="activity.background" stretch="aspectFit" class="NewActivityCard"
        flexDirection="column" alignItems="flex-start" justifyContent="space-between" (tap)="navigateToActivitySetup(activity.route)">
        <FlexboxLayout class="Activity-Title" flexDirection="column"
          alignItems="flex-start" justifyContent="center">
        <Label [text]="activity.name" textWrap="true"></Label>
        </FlexboxLayout>
        <FlexboxLayout class="CompleteOverlay" *ngIf="isActivityRegistered(activity.key)" flexDirection="column"
          alignItems="flex-start" justifyContent="center">
          <Image src="~/assets/images/icons/success.png" width="20"></Image>
        </FlexboxLayout>
      </FlexboxLayout>
    </FlexboxLayout>
  </ScrollView>
</GridLayout>