@import '../app.component';

.Home-Greeting {
  width: 60%;
  height: 80;
  Label {
    font-size: 25%;
    letter-spacing: 0.01;
  }
}
.Activity--Wrapper {
  text-align: center;

  .Day--Title {
    margin-bottom: 10;
    .Day-h1 {
      font-size: 18;
      font-weight: 500;
      margin-bottom: 3;
      opacity: 0;
      animation-name: bounceIn;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
    }
    .hr {
      background: $rose-gardient;
      border-radius: 16px;
      opacity: 0;
      animation-name: bounceIn;
      animation-duration: 0.5s;
      animation-fill-mode: forwards;
      animation-delay: 0.5s;
    }
  }

  ListView {
    separator-color: white;
  }

  .Activity--Item {
    margin-left: 1%;
    margin-right: 1%;
    height: 60;
    margin-top: 15;
    animation-name: slideInUp;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;

    .Icon-Title {
      width: 80%;

      .Activity--Icon {
        width: 50;
        height: 50;
        border-radius: 12;
        text-align: center;
        margin-left: 10;
        Image {
          width: 30;
          height: 30;
        }
      }
      .Activity--Title {
        font-size: 14;
        color: #000000;
        margin-left: 25;
      }
    }
    .Activity--Time {
      width: 20%;
      font-size: 12;
      opacity: 0;
      color: $quick-silver;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-delay: 1s;
      animation-fill-mode: forwards;
    }
  }

  .Forgotten {
    background-color: rgba($color: $behance-red, $alpha: 0.2);
    border-radius: 15;
  }

  .overdueTime {
    animation-name: shake-horizontal;
    animation-timing-function: cubic-bezier(0.455, 0.030, 0.515, 0.955);
    animation-duration: 0.8s;
    animation-delay: 3s;
  }

}


.NoActivity--Image {
  width: 50%;
  margin-top: 10%;
}

.NoActivity--TextWrapper {
  width: 100%;
  height: 20%;
  text-align: center;
}

.NoActivity--TextWrapper Label {
  font-size: 13;
  padding-top: 5;
}

.NoActivity--TextWrapper Image {
  animation-name: slide-in-top;
  animation-duration: 1.5s;
  animation-iteration-count: 5;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slide-in-top {
  from {
    transform: translateY(0px);
    opacity: 0;
  }
  to {
    transform: translateY(20px);
    opacity: 1;
  }
}

@keyframes shake-horizontal {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateX(-6);
  }
  20%,
  40%,
  60% {
    transform: translateX(6);
  }
  80% {
    transform: translateX(4);
  }
  90% {
    transform: translateX(-4);
  }
}
