<GridLayout class="page page-content" rows="100 *">
  <!-- THE ACTION/PAGE-TITLE BAR -->
  <FlexboxLayout *ngIf="!isLoading" row="0" flexDirection="row" alignItems="center" justifyContent="space-between"
    class="action-bar-custom">
    <StackLayout class="Home-Greeting">
      <Label class="roboto-bold" text="Good evening, Dafina!" textWrap="true"></Label>
    </StackLayout>
  </FlexboxLayout>
  <!-- THE ACTION/PAGE-TITLE BAR -->

  <ScrollView row="1">
    <StackLayout class="Activity--Wrapper">
      <StackLayout class="Day--Title">
        <Label class="Day-h1" text="Today"></Label>
        <Button width="30" height="5" class="hr"></Button>
      </StackLayout>
      
      <!-- A time of the day -->
      <StackLayout *ngFor="let militaryTime of timeBasedActivityKeys">
        <FlexboxLayout *ngFor="let activity of timeBasedActivities[militaryTime]" [class]="'Activity--Item ' + (isActivityOverdue(militaryTime) ? ' Forgotten' : '')" flexDirection="row"
          justifyContent="space-between" (tap)="logActivityTime(activity.activityKey, activity.time)">
          <FlexboxLayout class="Icon-Title" flexDirection="row" alignItems="center" justifyContent="flex-start">
            <StackLayout class="Activity--Icon" verticalAlignment="center"
              [backgroundColor]="stylingData(activity).pageBackground || '#A6A6A6'">
              <Image [src]="stylingData(activity).icon"></Image>
            </StackLayout>
            <Label class="roboto-regular Activity--Title" [text]="formatActivityName(activity.activityName)"></Label>
          </FlexboxLayout>
          <Label [class]="'roboto-thin Activity--Time ' + (isActivityOverdue(militaryTime) ? ' overdueTime': '')"
            [text]="militaryToDisplayTime(militaryTime)">
          </Label>
        </FlexboxLayout>
      </StackLayout>
      <!-- A time of the day -->

    </StackLayout>
  </ScrollView>

  <FlexboxLayout class="NoActivity" *ngIf="!isLoading && noActivities" row="1" flexDirection="column" alignItems="center" justifyContent="space-between">
    <Image class="NoActivity--Image" src="~/assets/images/icons/goal.png"></Image>
    <StackLayout class="NoActivity--TextWrapper">
      <Label [text]="loggedUser.nickname + ', you dont have any activities yet'"></Label>
      <Label text="Start a new activity/goal"></Label>
      <Image src="~/assets/images/icons/down-arrow.png" width="30"></Image>
    </StackLayout>
  </FlexboxLayout>

</GridLayout>